ul {
    overflow:hidden;
    list-style:none;
    margin: 0 auto;
    z-index: 20;
}
    
ul li {
    /* 横並び */
    display: inline-block;
    padding: 26px 10px 20px 10px;
}

/* .title {
    color: black;
    text-align: center;
    font: "Dirtyline 36Daysoftype 2022";
    background-color: rgba(0, 0, 0, 0.459);
} */

img.title {
    width: 70%;
    height: 70%;
    margin: auto;
}

.title {
    text-align: center;
}

.banner {
    /* position: fixed;
    top: 0;
    left: 0; */
    background-color: rgba(243, 230, 255, 0.534);
}

body{
	background-image: url(picture/computer_2_cool-3.png);
	background-size: 15%;
    background-repeat:  repeat;
    font-size: 30px;
}

a:hover {
    color: rgb(61, 255, 103);
}